body{
background: #FF9191

}

#root{
  display: flex;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 36px;
  border: black solid 5px;
  border-radius: 25%;
  width: 17%;
  background: white;
  margin-top: 10rem;
  background: linear-gradient(110deg, #7E99CE 60%, #F0EC41 60%);
}

svg{
  color: #FF9191;
  
}